# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
hse_env/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
